a {
    text-decoration: none;
    color: black;
}

.menu_bar {
    background-color: white;
}

.menu_bar a {
    padding: 1vw;
    display: inline-block;
}

.munu_bar a:hover {
    background-color: #000;
}